{
  "openapi": "3.0.0",
  "info": {
    "title": "Jina Reader API",
    "version": "0.5.0+056878e",
    "description": "Jina Reader API openapi document",
    "x-logo": {
      "url": "/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://r.jina.ai/"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "misc",
          "crawl"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "preloadUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "noServiceWorker",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "html",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "base",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x0d"
                }
              ],
              "default": "initial",
              "description": "- Cast to: < **\"initial\" | \"final\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'initial'"
            }
          },
          {
            "name": "pdf",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FancyFile@0x0e"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "summary": "Base64 encoded PDF.",
              "description": "Base64 encoded PDF.\n\n- Cast to: < **FancyFile|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "file",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FancyFile@0x0e"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "summary": "Base64 encoded file.",
              "description": "Base64 encoded file.\n\n- Cast to: < **FancyFile|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "summary": "Steer which page to return for uploaded files (1-indexed). Ignored when no file/PDF is uploaded.",
              "description": "Steer which page to return for uploaded files (1-indexed). Ignored when no file/PDF is uploaded.\n\n- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => Number.isInteger(v) && v >= 1"
            }
          },
          {
            "name": "respondWith",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/enum@0x0f"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "default": "content",
              "description": "- Cast to: < **\"content\" | \"markdown\" | \"html\" | \"text\" | \"pageshot\" | \"screenshot\" | \"vlm\" | \"readerlm-v2\" | \"frontmatter\"|string** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'content'"
            }
          },
          {
            "name": "withGeneratedAlt",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBoolean@0x10"
                }
              ],
              "description": "- Cast to: < **PseudoBoolean** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "retainImages",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x11"
                }
              ],
              "default": "all",
              "description": "- Cast to: < **\"none\" | \"all\" | \"alt\" | \"all_p\" | \"alt_p\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'all'"
            }
          },
          {
            "name": "retainMedia",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x12"
                }
              ],
              "default": "link",
              "description": "- Cast to: < **\"none\" | \"text\" | \"link\" | \"image\" | \"html\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'link'"
            }
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x13"
                }
              ],
              "description": "- Cast to: < **\"reader\" | \"index\" | \"research\" | \"agent\" | \"spider\"** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "retainLinks",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x14"
                }
              ],
              "default": "all",
              "description": "- Cast to: < **\"none\" | \"all\" | \"text\" | \"gpt-oss\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'all'"
            }
          },
          {
            "name": "withLinksSummary",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PseudoBoolean@0x10"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "withImagesSummary",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "noCache",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "removeOverlay",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "detachInvisibles",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "noGfm",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PseudoBoolean@0x10"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "cacheTolerance",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "targetSelector",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "waitForSelector",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "removeSelector",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "keepImgDataUrl",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "withIframe",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PseudoBoolean@0x10"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "withShadowDom",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "setCookies",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<object|string>** >\n\n- Member of <CrawlerOptions>",
              "oneOf": [
                {
                  "description": "Can be any value - string, number, boolean, array or object.",
                  "nullable": true
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "exportStorageState",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "proxyUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "userAgent",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/enum@0x1a"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **\"auto\" | \"browser\" | \"curl\" | \"cf-browser-rendering\"|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "injectPageScript",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "injectFrameScript",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => v > 0 && v <= 180"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "tokenBudget",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "assertStatusCode",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "instruction",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "jsonSchema",
            "in": "query",
            "schema": {
              "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: < **object** >\n\n- Member of <CrawlerOptions>",
              "nullable": true
            }
          },
          {
            "name": "robotsTxt",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "doNotTrack",
            "in": "query",
            "schema": {
              "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: < **object** >\n\n- Member of <CrawlerOptions>",
              "nullable": true
            }
          },
          {
            "name": "respondTiming",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x23"
                }
              ],
              "description": "- Cast to: < **\"html\" | \"visible-content\" | \"mutation-idle\" | \"resource-idle\" | \"media-idle\" | \"network-idle\"** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "markdownChunking",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/enum@0x24"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **\"true\" | \"h1\" | \"h2\" | \"h3\" | \"h4\" | \"h5\" | \"structured\" | \"s1\" | \"s2\" | \"s3\" | \"s4\" | \"s5\"|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "maxTokens",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => v >= 500"
            }
          },
          {
            "name": "Authorization",
            "description": "Jina Token for authentication.\n\n- Member of <JinaEmbeddingsAuthDTO>\n\n- Authorization: Bearer {YOUR_JINA_TOKEN}",
            "in": "header",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "token"
                }
              ]
            }
          },
          {
            "name": "Accept",
            "description": "Specifies your preference for the response format.\n\nSupported formats: \n- text/event-stream\n- application/json or text/json\n- text/plain",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cache-Tolerance",
            "description": "Sets internal cache tolerance in seconds if this header is specified with a integer.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-No-Cache",
            "description": "Ignores internal cache if this header is specified with a value.\n\nEquivalent to X-Cache-Tolerance: 0",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Respond-With",
            "description": "Specifies the (non-default) form of the crawled data you prefer.\n\nSupported formats: \n- markdown\n- html\n- text\n- pageshot\n- screenshot\n- content\n- frontmatter\n- any combination of the above\n- readerlm-v2\n- vlm\n\nDefault: content\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Wait-For-Selector",
            "description": "Specifies a CSS selector to wait for the appearance of such an element before returning.\n\nExample: `X-Wait-For-Selector: .content-block`\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Target-Selector",
            "description": "Specifies a CSS selector for return target instead of the full html.\n\nImplies `X-Wait-For-Selector: (same selector)`",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Remove-Selector",
            "description": "Specifies a CSS selector to remove elements from the full html.\n\nExample `X-Remove-Selector: nav`",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Keep-Img-Data-Url",
            "description": "Keep data-url as it instead of transforming them to object-url. (Only applicable when targeting markdown format)\n\nExample `X-Keep-Img-Data-Url: true`",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Proxy-Url",
            "description": "Specifies your custom proxy if you prefer to use one.\n\nSupported protocols: \n- http\n- https\n- socks4\n- socks5\n\nFor authentication, https://user:pass@host:port",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Proxy",
            "description": "Use a proxy server provided by us.\n\nOptionally specify two-letter country code.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Robots-Txt",
            "description": "Load and conform to the respective robot.txt on the target origin.\n\nOptionally specify a bot UA to check against.\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DNT",
            "description": "When set to 1, prevent the result of this request to be cached in the system.\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Set-Cookie",
            "description": "Sets cookie(s) to the headless browser for your request. \n\nSyntax is the same with standard Set-Cookie",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Export-Storage-State",
            "description": "Export the browser storage state (cookies and per-origin localStorage) accumulated during the crawl.\n\nWhen enabled, the JSON response includes a `storageState` field whose shape mirrors the `storageState` request option, so it can be fed back into a subsequent request.\n\nRequires the browser engine and disables caching.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-Generated-Alt",
            "description": "Enable automatic alt-text generating for images without an meaningful alt-text.\n\nNote: Does not work when `X-Respond-With` is specified",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-Images-Summary",
            "description": "Enable dedicated summary section for images on the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-links-Summary",
            "description": "Enable dedicated summary section for hyper links on the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Retain-Links",
            "description": "Link retention modes.\n\nSupported modes: \n- all: all links\n- none: no links\n- text: only link text\n- gpt-oss: gpt-oss link citation format `【{id}†.*】`\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Retain-Images",
            "description": "Image retention modes.\n\nSupported modes: \n- all: all images\n- none: no images\n- alt: only alt text\n- all_p: all images and with generated alt text\n- alt_p: only alt text and with generated alt\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Retain-Media",
            "description": "Media retention modes for video, audio, and embedded video iframes.\n\nSupported modes: \n- none: no media\n- text: plain label, e.g. `Video 1`\n- link: markdown link, e.g. `[Video 1](url)` (default)\n- image: markdown image syntax, e.g. `![Video 1](url)`\n- html: original HTML with irrelevant attributes (class, id, style, data-*, aria-*) stripped\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Preset",
            "description": "Apply a preset configuration for common scenarios.\n\nSupported presets:\n- reader: optimized for display to human users\n- index: optimized for semantic indexing\n- research: optimized for academic/research AI agents\n- agent: optimized for day-to-day AI agents\n- spider: optimized for recursive site crawling\n\nPreset values are applied only to options not explicitly set by the caller.\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-Iframe",
            "description": "Enable filling iframe contents into main. (violates standards)",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-Shadow-Dom",
            "description": "Enable filling shadow dom contents into main. (violates standards)",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Agent",
            "description": "Override User-Agent.\n\nSeveral special values: \n- browser: use the internal browser UA\n- auto: pass-through your UA if it starts with `Mozilla/5.0`, otherwise use the internal browser UA\n- inherit / pass-through: use the User-Agent from the request context if applicable\n- bot: Use a pre-defined bot User-Agent from this service\n- diversify: Use a diversified browser User-Agent\n\nOr specify your own user agent string.\n\nNote: anonymous users specifying a browser UA will have no effect and will fall back to the internal browser UA.\n\nDefault: browser",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Timeout",
            "description": "Specify timeout in seconds. Max 180.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Locale",
            "description": "Specify browser locale for the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Referer",
            "description": "Specify referer for the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Token-Budget",
            "description": "Specify a budget in tokens.\n\nIf the resulting token cost exceeds the budget, the request is rejected.\n\nNote this parameter is ignored for the search endpoint.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Max-Tokens",
            "description": "Trim the response content at a maximum number of tokens.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Assert-Status-Code",
            "description": "Assert the HTTP status code of the crawled page. If the actual status code does not match the asserted one, the request is rejected with 422 Unprocessable Entity.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Respond-Timing",
            "description": "Explicitly specify the respond timing. One of the following:\n\n- html: directly return unrendered HTML\n- visible-content: return immediately when any content becomes available\n- mutation-idle: wait for DOM mutations to settle and remain unchanged for at least 0.2s\n- resource-idle: wait for no additional resources that would affect page logic and content has SUCCEEDED loading in 0.5s\n- media-idle: wait for no additional resources, including media resources, has SUCCEEDED loading in 0.5s\n- network-idle: wait for full load of webpage, also known as networkidle0.\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Engine",
            "description": "Specify the engine to use for crawling.\n\nSupported: browser, direct, cf-browser-rendering",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Base",
            "description": "Select base modes of relative URLs.\n\nSupported: initial, final",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Remove-Overlay",
            "description": "Specify whether to remove overlay elements from the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Detach-Invisibles",
            "description": "Temporarily detach elements with computed `display:none` before snapshotting, then restore them.\n\nRequires the browser engine and disables caching.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Markdown-Chunking",
            "description": "Opt-in markdown chunking.\n\nSupported values: \n- true\n- h1\n- h2\n- h3\n- h4\n- h5\n- structured\n- s1\n- s2\n- s3\n- s4\n- s5\n\nNote if you are expecting text return, the chunking is done by injecting character \\u001D\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Heading-Style",
            "description": "Heading style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: setext, atx",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Hr",
            "description": "Hr text of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Bullet-List-Marker",
            "description": "Bullet list marker of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: -, +, *",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Em-Delimiter",
            "description": "Em delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: _, *",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Strong-Delimiter",
            "description": "Strong delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: **, __",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Link-Style",
            "description": "Link style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: inlined, referenced, discarded",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Link-Reference-Style",
            "description": "Link reference style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: full, collapsed, shortcut, discarded",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Page",
            "description": "Steer which page to return for uploaded files (PDF, DOC, XLS, PPT, etc.).\n\n1-indexed; ignored when no file/PDF is uploaded.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Preload-Url",
            "description": "URL to preload before scraping.\n\nIgnored when no URL is provided.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-No-Service-Worker",
            "description": "Disable service workers when running the browser.\n\nUseful for bypassing service-worker-based caching or interception.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "ReaderEnvelopeWrappedString",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "summary": "Envelope code.\n\nMirror of HTTP status code",
                          "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: < **number** >\n\n- Member of <ReaderEnvelope>\n\n- Defaults to: 200",
                          "default": 200
                        },
                        "status": {
                          "type": "number",
                          "summary": "Envelope status.\n\nIn extension to HTTP status code",
                          "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: < **number** >\n\n- Member of <ReaderEnvelope>\n\n- Defaults to: 20000",
                          "default": 20000
                        },
                        "data": {
                          "type": "string",
                          "summary": "The result payload you expect",
                          "description": "The result payload you expect\n\n- Cast to: < **string** >\n\n- Member of <ReaderEnvelope>"
                        },
                        "meta": {
                          "description": "The metadata that the payload sometimes came with\n\n- Cast to: < **object** >\n\n- Member of <ReaderEnvelope>",
                          "nullable": true,
                          "summary": "The metadata that the payload sometimes came with"
                        }
                      },
                      "required": [
                        "code",
                        "status"
                      ],
                      "primitive": true
                    },
                    {
                      "title": "ReaderEnvelopeWrappedObject",
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "number",
                          "summary": "Envelope code.\n\nMirror of HTTP status code",
                          "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: < **number** >\n\n- Member of <ReaderEnvelope>\n\n- Defaults to: 200",
                          "default": 200
                        },
                        "status": {
                          "type": "number",
                          "summary": "Envelope status.\n\nIn extension to HTTP status code",
                          "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: < **number** >\n\n- Member of <ReaderEnvelope>\n\n- Defaults to: 20000",
                          "default": 20000
                        },
                        "data": {
                          "description": "The result payload you expect\n\n- Cast to: < **object** >\n\n- Member of <ReaderEnvelope>",
                          "nullable": true,
                          "summary": "The result payload you expect"
                        },
                        "meta": {
                          "description": "The metadata that the payload sometimes came with\n\n- Cast to: < **object** >\n\n- Member of <ReaderEnvelope>",
                          "nullable": true,
                          "summary": "The metadata that the payload sometimes came with"
                        }
                      },
                      "required": [
                        "code",
                        "status"
                      ],
                      "primitive": true
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ParamValidationError@0x26"
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DataStreamBrokenError@0x27"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AuthenticationFailedError@0x28"
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AuthenticationRequiredError@0x29"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/TierFeatureConstraintError@0x2a"
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/InsufficientBalanceError@0x2b"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/OperationNotAllowedError@0x2c"
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AbuseAlleviationError@0x2d"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ResourcePolicyDenyError@0x2e"
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/BudgetExceededError@0x2f"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TargetFileTooLargeError@0x30"
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/SubmittedDataMalformedError@0x31"
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DownstreamServiceFailureError@0x32"
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AssertionFailureError@0x33"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/RateLimitTriggeredError@0x34"
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "451": {
            "description": "Unavailable For Legal Reasons",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HarmfulContentError@0x35"
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DownstreamServiceError@0x36"
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ServiceNodeResourceDrainError@0x37"
                    }
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "summary": "getIndex"
      },
      "post": {
        "tags": [
          "crawl"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "preloadUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "noServiceWorker",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "html",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "base",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x0d"
                }
              ],
              "default": "initial",
              "description": "- Cast to: < **\"initial\" | \"final\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'initial'"
            }
          },
          {
            "name": "pdf",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FancyFile@0x0e"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "summary": "Base64 encoded PDF.",
              "description": "Base64 encoded PDF.\n\n- Cast to: < **FancyFile|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "file",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FancyFile@0x0e"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "summary": "Base64 encoded file.",
              "description": "Base64 encoded file.\n\n- Cast to: < **FancyFile|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "summary": "Steer which page to return for uploaded files (1-indexed). Ignored when no file/PDF is uploaded.",
              "description": "Steer which page to return for uploaded files (1-indexed). Ignored when no file/PDF is uploaded.\n\n- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => Number.isInteger(v) && v >= 1"
            }
          },
          {
            "name": "respondWith",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/enum@0x0f"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "default": "content",
              "description": "- Cast to: < **\"content\" | \"markdown\" | \"html\" | \"text\" | \"pageshot\" | \"screenshot\" | \"vlm\" | \"readerlm-v2\" | \"frontmatter\"|string** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'content'"
            }
          },
          {
            "name": "withGeneratedAlt",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBoolean@0x10"
                }
              ],
              "description": "- Cast to: < **PseudoBoolean** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "retainImages",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x11"
                }
              ],
              "default": "all",
              "description": "- Cast to: < **\"none\" | \"all\" | \"alt\" | \"all_p\" | \"alt_p\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'all'"
            }
          },
          {
            "name": "retainMedia",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x12"
                }
              ],
              "default": "link",
              "description": "- Cast to: < **\"none\" | \"text\" | \"link\" | \"image\" | \"html\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'link'"
            }
          },
          {
            "name": "preset",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x13"
                }
              ],
              "description": "- Cast to: < **\"reader\" | \"index\" | \"research\" | \"agent\" | \"spider\"** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "retainLinks",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x14"
                }
              ],
              "default": "all",
              "description": "- Cast to: < **\"none\" | \"all\" | \"text\" | \"gpt-oss\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'all'"
            }
          },
          {
            "name": "withLinksSummary",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PseudoBoolean@0x10"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "withImagesSummary",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "noCache",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "removeOverlay",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "detachInvisibles",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "noGfm",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PseudoBoolean@0x10"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "cacheTolerance",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "targetSelector",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "waitForSelector",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "removeSelector",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "keepImgDataUrl",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "withIframe",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PseudoBoolean@0x10"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "withShadowDom",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "setCookies",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<object|string>** >\n\n- Member of <CrawlerOptions>",
              "oneOf": [
                {
                  "description": "Can be any value - string, number, boolean, array or object.",
                  "nullable": true
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "exportStorageState",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                }
              ],
              "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "proxyUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "userAgent",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/enum@0x1a"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **\"auto\" | \"browser\" | \"curl\" | \"cf-browser-rendering\"|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "injectPageScript",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "injectFrameScript",
            "in": "query",
            "schema": {
              "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => v > 0 && v <= 180"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "tokenBudget",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "assertStatusCode",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "instruction",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "jsonSchema",
            "in": "query",
            "schema": {
              "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: < **object** >\n\n- Member of <CrawlerOptions>",
              "nullable": true
            }
          },
          {
            "name": "robotsTxt",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "doNotTrack",
            "in": "query",
            "schema": {
              "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: < **object** >\n\n- Member of <CrawlerOptions>",
              "nullable": true
            }
          },
          {
            "name": "respondTiming",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/enum@0x23"
                }
              ],
              "description": "- Cast to: < **\"html\" | \"visible-content\" | \"mutation-idle\" | \"resource-idle\" | \"media-idle\" | \"network-idle\"** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "markdownChunking",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/enum@0x24"
                    }
                  ]
                },
                {
                  "type": "string"
                }
              ],
              "description": "- Cast to: < **\"true\" | \"h1\" | \"h2\" | \"h3\" | \"h4\" | \"h5\" | \"structured\" | \"s1\" | \"s2\" | \"s3\" | \"s4\" | \"s5\"|string** >\n\n- Member of <CrawlerOptions>"
            }
          },
          {
            "name": "maxTokens",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => v >= 500"
            }
          },
          {
            "name": "Authorization",
            "description": "Jina Token for authentication.\n\n- Member of <JinaEmbeddingsAuthDTO>\n\n- Authorization: Bearer {YOUR_JINA_TOKEN}",
            "in": "header",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "token"
                }
              ]
            }
          },
          {
            "name": "Accept",
            "description": "Specifies your preference for the response format.\n\nSupported formats: \n- text/event-stream\n- application/json or text/json\n- text/plain",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Cache-Tolerance",
            "description": "Sets internal cache tolerance in seconds if this header is specified with a integer.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-No-Cache",
            "description": "Ignores internal cache if this header is specified with a value.\n\nEquivalent to X-Cache-Tolerance: 0",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Respond-With",
            "description": "Specifies the (non-default) form of the crawled data you prefer.\n\nSupported formats: \n- markdown\n- html\n- text\n- pageshot\n- screenshot\n- content\n- frontmatter\n- any combination of the above\n- readerlm-v2\n- vlm\n\nDefault: content\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Wait-For-Selector",
            "description": "Specifies a CSS selector to wait for the appearance of such an element before returning.\n\nExample: `X-Wait-For-Selector: .content-block`\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Target-Selector",
            "description": "Specifies a CSS selector for return target instead of the full html.\n\nImplies `X-Wait-For-Selector: (same selector)`",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Remove-Selector",
            "description": "Specifies a CSS selector to remove elements from the full html.\n\nExample `X-Remove-Selector: nav`",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Keep-Img-Data-Url",
            "description": "Keep data-url as it instead of transforming them to object-url. (Only applicable when targeting markdown format)\n\nExample `X-Keep-Img-Data-Url: true`",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Proxy-Url",
            "description": "Specifies your custom proxy if you prefer to use one.\n\nSupported protocols: \n- http\n- https\n- socks4\n- socks5\n\nFor authentication, https://user:pass@host:port",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Proxy",
            "description": "Use a proxy server provided by us.\n\nOptionally specify two-letter country code.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Robots-Txt",
            "description": "Load and conform to the respective robot.txt on the target origin.\n\nOptionally specify a bot UA to check against.\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DNT",
            "description": "When set to 1, prevent the result of this request to be cached in the system.\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Set-Cookie",
            "description": "Sets cookie(s) to the headless browser for your request. \n\nSyntax is the same with standard Set-Cookie",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Export-Storage-State",
            "description": "Export the browser storage state (cookies and per-origin localStorage) accumulated during the crawl.\n\nWhen enabled, the JSON response includes a `storageState` field whose shape mirrors the `storageState` request option, so it can be fed back into a subsequent request.\n\nRequires the browser engine and disables caching.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-Generated-Alt",
            "description": "Enable automatic alt-text generating for images without an meaningful alt-text.\n\nNote: Does not work when `X-Respond-With` is specified",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-Images-Summary",
            "description": "Enable dedicated summary section for images on the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-links-Summary",
            "description": "Enable dedicated summary section for hyper links on the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Retain-Links",
            "description": "Link retention modes.\n\nSupported modes: \n- all: all links\n- none: no links\n- text: only link text\n- gpt-oss: gpt-oss link citation format `【{id}†.*】`\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Retain-Images",
            "description": "Image retention modes.\n\nSupported modes: \n- all: all images\n- none: no images\n- alt: only alt text\n- all_p: all images and with generated alt text\n- alt_p: only alt text and with generated alt\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Retain-Media",
            "description": "Media retention modes for video, audio, and embedded video iframes.\n\nSupported modes: \n- none: no media\n- text: plain label, e.g. `Video 1`\n- link: markdown link, e.g. `[Video 1](url)` (default)\n- image: markdown image syntax, e.g. `![Video 1](url)`\n- html: original HTML with irrelevant attributes (class, id, style, data-*, aria-*) stripped\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Preset",
            "description": "Apply a preset configuration for common scenarios.\n\nSupported presets:\n- reader: optimized for display to human users\n- index: optimized for semantic indexing\n- research: optimized for academic/research AI agents\n- agent: optimized for day-to-day AI agents\n- spider: optimized for recursive site crawling\n\nPreset values are applied only to options not explicitly set by the caller.\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-Iframe",
            "description": "Enable filling iframe contents into main. (violates standards)",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-With-Shadow-Dom",
            "description": "Enable filling shadow dom contents into main. (violates standards)",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Agent",
            "description": "Override User-Agent.\n\nSeveral special values: \n- browser: use the internal browser UA\n- auto: pass-through your UA if it starts with `Mozilla/5.0`, otherwise use the internal browser UA\n- inherit / pass-through: use the User-Agent from the request context if applicable\n- bot: Use a pre-defined bot User-Agent from this service\n- diversify: Use a diversified browser User-Agent\n\nOr specify your own user agent string.\n\nNote: anonymous users specifying a browser UA will have no effect and will fall back to the internal browser UA.\n\nDefault: browser",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Timeout",
            "description": "Specify timeout in seconds. Max 180.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Locale",
            "description": "Specify browser locale for the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Referer",
            "description": "Specify referer for the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Token-Budget",
            "description": "Specify a budget in tokens.\n\nIf the resulting token cost exceeds the budget, the request is rejected.\n\nNote this parameter is ignored for the search endpoint.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Max-Tokens",
            "description": "Trim the response content at a maximum number of tokens.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Assert-Status-Code",
            "description": "Assert the HTTP status code of the crawled page. If the actual status code does not match the asserted one, the request is rejected with 422 Unprocessable Entity.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Respond-Timing",
            "description": "Explicitly specify the respond timing. One of the following:\n\n- html: directly return unrendered HTML\n- visible-content: return immediately when any content becomes available\n- mutation-idle: wait for DOM mutations to settle and remain unchanged for at least 0.2s\n- resource-idle: wait for no additional resources that would affect page logic and content has SUCCEEDED loading in 0.5s\n- media-idle: wait for no additional resources, including media resources, has SUCCEEDED loading in 0.5s\n- network-idle: wait for full load of webpage, also known as networkidle0.\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Engine",
            "description": "Specify the engine to use for crawling.\n\nSupported: browser, direct, cf-browser-rendering",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Base",
            "description": "Select base modes of relative URLs.\n\nSupported: initial, final",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Remove-Overlay",
            "description": "Specify whether to remove overlay elements from the page.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Detach-Invisibles",
            "description": "Temporarily detach elements with computed `display:none` before snapshotting, then restore them.\n\nRequires the browser engine and disables caching.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Markdown-Chunking",
            "description": "Opt-in markdown chunking.\n\nSupported values: \n- true\n- h1\n- h2\n- h3\n- h4\n- h5\n- structured\n- s1\n- s2\n- s3\n- s4\n- s5\n\nNote if you are expecting text return, the chunking is done by injecting character \\u001D\n\n",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Heading-Style",
            "description": "Heading style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: setext, atx",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Hr",
            "description": "Hr text of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Bullet-List-Marker",
            "description": "Bullet list marker of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: -, +, *",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Em-Delimiter",
            "description": "Em delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: _, *",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Strong-Delimiter",
            "description": "Strong delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: **, __",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Link-Style",
            "description": "Link style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: inlined, referenced, discarded",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Md-Link-Reference-Style",
            "description": "Link reference style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: full, collapsed, shortcut, discarded",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Page",
            "description": "Steer which page to return for uploaded files (PDF, DOC, XLS, PPT, etc.).\n\n1-indexed; ignored when no file/PDF is uploaded.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Preload-Url",
            "description": "URL to preload before scraping.\n\nIgnored when no URL is provided.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-No-Service-Worker",
            "description": "Disable service workers when running the browser.\n\nUseful for bypassing service-worker-based caching or interception.",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JinaEmbeddingsAuthDTO@0x0b"
                  },
                  {
                    "$ref": "#/components/schemas/CrawlerOptionsHeaderOnly@0x38"
                  },
                  {
                    "$ref": "#/components/schemas/CrawlerOptions@0x25"
                  }
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/JinaEmbeddingsAuthDTO@0x0b"
                  },
                  {
                    "$ref": "#/components/schemas/CrawlerOptionsHeaderOnly@0x38"
                  },
                  {
                    "$ref": "#/components/schemas/CrawlerOptions@0x25"
                  }
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "preloadUrl": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "noServiceWorker": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
                  },
                  "html": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "base": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/enum@0x0d"
                      }
                    ],
                    "default": "initial",
                    "description": "- Cast to: < **\"initial\" | \"final\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'initial'"
                  },
                  "pdf": {
                    "oneOf": [
                      {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/FancyFile@0x0e"
                          }
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "summary": "Base64 encoded PDF.",
                    "description": "Base64 encoded PDF.\n\n- Cast to: < **FancyFile|string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "file": {
                    "oneOf": [
                      {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/FancyFile@0x0e"
                          }
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "summary": "Base64 encoded file.",
                    "description": "Base64 encoded file.\n\n- Cast to: < **FancyFile|string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "page": {
                    "type": "number",
                    "summary": "Steer which page to return for uploaded files (1-indexed). Ignored when no file/PDF is uploaded.",
                    "description": "Steer which page to return for uploaded files (1-indexed). Ignored when no file/PDF is uploaded.\n\n- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => Number.isInteger(v) && v >= 1"
                  },
                  "respondWith": {
                    "oneOf": [
                      {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/enum@0x0f"
                          }
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": "content",
                    "description": "- Cast to: < **\"content\" | \"markdown\" | \"html\" | \"text\" | \"pageshot\" | \"screenshot\" | \"vlm\" | \"readerlm-v2\" | \"frontmatter\"|string** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'content'"
                  },
                  "withGeneratedAlt": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBoolean@0x10"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBoolean** >\n\n- Member of <CrawlerOptions>"
                  },
                  "retainImages": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/enum@0x11"
                      }
                    ],
                    "default": "all",
                    "description": "- Cast to: < **\"none\" | \"all\" | \"alt\" | \"all_p\" | \"alt_p\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'all'"
                  },
                  "retainMedia": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/enum@0x12"
                      }
                    ],
                    "default": "link",
                    "description": "- Cast to: < **\"none\" | \"text\" | \"link\" | \"image\" | \"html\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'link'"
                  },
                  "preset": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/enum@0x13"
                      }
                    ],
                    "description": "- Cast to: < **\"reader\" | \"index\" | \"research\" | \"agent\" | \"spider\"** >\n\n- Member of <CrawlerOptions>"
                  },
                  "retainLinks": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/enum@0x14"
                      }
                    ],
                    "default": "all",
                    "description": "- Cast to: < **\"none\" | \"all\" | \"text\" | \"gpt-oss\"** >\n\n- Member of <CrawlerOptions>\n\n- Defaults to: 'all'"
                  },
                  "withLinksSummary": {
                    "oneOf": [
                      {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/PseudoBoolean@0x10"
                          }
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "withImagesSummary": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
                  },
                  "noCache": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
                  },
                  "removeOverlay": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
                  },
                  "detachInvisibles": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
                  },
                  "noGfm": {
                    "oneOf": [
                      {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/PseudoBoolean@0x10"
                          }
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "cacheTolerance": {
                    "type": "number",
                    "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
                  },
                  "targetSelector": {
                    "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
                    "type": "string"
                  },
                  "waitForSelector": {
                    "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
                    "type": "string"
                  },
                  "removeSelector": {
                    "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
                    "type": "string"
                  },
                  "keepImgDataUrl": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
                  },
                  "withIframe": {
                    "oneOf": [
                      {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/PseudoBoolean@0x10"
                          }
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBoolean|string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "withShadowDom": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
                  },
                  "setCookies": {
                    "description": "- Cast to: < **Array<object|string>** >\n\n- Member of <CrawlerOptions>",
                    "oneOf": [
                      {
                        "description": "Can be any value - string, number, boolean, array or object.",
                        "nullable": true
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "exportStorageState": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/PseudoBooleanLoose@0x0c"
                      }
                    ],
                    "description": "- Cast to: < **PseudoBooleanLoose** >\n\n- Member of <CrawlerOptions>"
                  },
                  "proxyUrl": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "proxy": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "userAgent": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "engine": {
                    "oneOf": [
                      {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/enum@0x1a"
                          }
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "- Cast to: < **\"auto\" | \"browser\" | \"curl\" | \"cf-browser-rendering\"|string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "injectPageScript": {
                    "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
                    "type": "string"
                  },
                  "injectFrameScript": {
                    "description": "- Cast to: < **Array<string>** >\n\n- Member of <CrawlerOptions>",
                    "type": "string"
                  },
                  "timeout": {
                    "type": "number",
                    "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => v > 0 && v <= 180"
                  },
                  "locale": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "referer": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "tokenBudget": {
                    "type": "number",
                    "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
                  },
                  "assertStatusCode": {
                    "type": "number",
                    "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>"
                  },
                  "instruction": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "jsonSchema": {
                    "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: < **object** >\n\n- Member of <CrawlerOptions>",
                    "nullable": true
                  },
                  "robotsTxt": {
                    "type": "string",
                    "description": "- Cast to: < **string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "doNotTrack": {
                    "description": "Can be any value - string, number, boolean, array or object.\n\n- Cast to: < **object** >\n\n- Member of <CrawlerOptions>",
                    "nullable": true
                  },
                  "respondTiming": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/enum@0x23"
                      }
                    ],
                    "description": "- Cast to: < **\"html\" | \"visible-content\" | \"mutation-idle\" | \"resource-idle\" | \"media-idle\" | \"network-idle\"** >\n\n- Member of <CrawlerOptions>"
                  },
                  "markdownChunking": {
                    "oneOf": [
                      {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/enum@0x24"
                          }
                        ]
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "- Cast to: < **\"true\" | \"h1\" | \"h2\" | \"h3\" | \"h4\" | \"h5\" | \"structured\" | \"s1\" | \"s2\" | \"s3\" | \"s4\" | \"s5\"|string** >\n\n- Member of <CrawlerOptions>"
                  },
                  "maxTokens": {
                    "type": "number",
                    "description": "- Cast to: < **number** >\n\n- Member of <CrawlerOptions>\n\n- Some validators will be applied on value(s): (v) => v >= 500"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain; charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "title": "ReaderEnvelopeWrappedFormattedPageDto",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number",
                      "summary": "Envelope code.\n\nMirror of HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: < **number** >\n\n- Member of <ReaderEnvelope>\n\n- Defaults to: 200",
                      "default": 200
                    },
                    "status": {
                      "type": "number",
                      "summary": "Envelope status.\n\nIn extension to HTTP status code",
                      "description": "[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: < **number** >\n\n- Member of <ReaderEnvelope>\n\n- Defaults to: 20000",
                      "default": 20000
                    },
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/FormattedPageDto@0x40"
                        }
                      ],
                      "summary": "The result payload you expect",
                      "description": "The result payload you expect\n\n- Cast to: < **FormattedPageDto** >\n\n- Member of <ReaderEnvelope>"
                    },
                    "meta": {
                      "description": "The metadata that the payload sometimes came with\n\n- Cast to: < **object** >\n\n- Member of <ReaderEnvelope>",
                      "nullable": true,
                      "summary": "The metadata that the payload sometimes came with"
                    }
                  },
                  "required": [
                    "code",
                    "status"
                  ],
                  "primitive": true
                }
              },
              "text/event-stream": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/OutputServerEventStream@0x41"
                    }
                  ]
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ParamValidationError@0x26"
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DataStreamBrokenError@0x27"
                        }
                      ]
[...]
